/* --------------------------------------
                   fonts
---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&display=swap');


/* --------------------------------------
                   banner
---------------------------------------- */
.banner{
    height: 70vh;
    width: 100%;
    padding-top: 20vh;
    background-color: black;
}
.banner-Title{
    font-size: 5rem;
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}
.banner-text{
    font-size: 1.5rem;
    color: white;
}

.player-list{
    background-color: #151515;
}

.total-price-color{
    color: #FF5E19;
}


/* --------------------------------------
                   order list
---------------------------------------- */
ol{
    min-height: 32vh;
}

li{
    padding-bottom: 10px;
}


/* --------------------------------------
                   footer
---------------------------------------- */
footer{
    background-color: #4d4b4b;
    color: white;
    height: 22vh;
    padding-top: 70px;
}